<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Report Notifier: {{alertLevel}}</title>
  </head>
  <body>
    <p>
      The production logs for {{dappName}} ({{dappUrl}}) from <b>{{dateStart}}</b> to <b>{{dateEnd}}</b> can be found as an attachment to this email.
    </p>
  </body>
</html>